<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What should they say?</title>
  <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
  <pre id="output">
<%= output %>
  </pre>
</body>
</html>
